---
import Section from "./Section.astro";
import EducationTable from "@components/EducationTable.astro";

const id = "education";
const title = "education";
---

<Section id={id} title={title}>
    <EducationTable />
</Section>
