---
import Section from "./Section.astro";
import ExperienceTable from "@components/ExperienceTable.astro";

const id = "experience";
const title = "experience";
---

<Section id={id} title={title}>
    <ExperienceTable />
</Section>
