---
import CommandLine from "@components/CommandLine.astro";
import DoubleStackButton from "@components/DoubleStackButton";
import GeneralLayout from "@layout/GeneralLayout.astro";
import TechStackSection from "@components/about/TechStackSection.astro";
import OverviewSection from "@components/about/OverviewSection.astro";
import ExperienceSection from "@components/about/ExperienceSection.astro";
import EducationSection from "@components/about/EducationSection.astro";
import PartnersSection from "@components/about/PartnersSection.astro";
import LicenseCertificationSection from "@components/about/LicenseCertificationSection.astro";
import PublicationSection from "@components/about/PublicationSection.astro";
---

<style>
    h1 {
        @apply my-4 text-center text-2xl lg:text-4xl;
    }

    section {
        @apply my-6;
    }

    .overview-divider {
        @apply my-2 h-1 w-full bg-catpuccin-teal;
    }
</style>

<GeneralLayout path={"man"} title="About me">
    <CommandLine keyword="help -v" text="bomanarakasura" />

    <!-- Ask AI Banner -->
    <div
        class="flex flex-col items-center justify-between gap-2 border border-catpuccin-teal px-8 py-4 md:flex-row"
    >
        <p class="text-catpuccin-sky">too lazy to read?</p>

        <DoubleStackButton client:load icon="🤖">
            Ask AI (coming soon)
        </DoubleStackButton>
    </div>

    <!-- Overview -->
    <OverviewSection />

    <!-- Tech Stack -->
    <TechStackSection />

    <!-- Experience -->
    <ExperienceSection />

    <!-- Education -->
    <EducationSection />

    <!-- Certification -->
    <LicenseCertificationSection />

    <!-- Publication -->
    <PublicationSection />

    <!-- Previous partners -->
    <PartnersSection />
</GeneralLayout>
