---
import TerminalWindow from "../components/TerminalWindow.tsx";
import DoubleStackButton from "../components/DoubleStackButton.tsx";
import PixelatedHello from "../components/PixelatedHello.tsx";
import ProjectCard from "../components/ProjectCard.astro";
import GeneralLayout from "../layouts/GeneralLayout.astro";
---

<GeneralLayout path={""}>
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
        <!-- Profile Terminal Window -->
        <TerminalWindow title="#!/bin/bash" email="bomsiwor@gmail.com">
            <div class="flex h-full flex-col justify-between">
                <div>
                    <div class="mb-6 h-32 w-32 bg-gray-200"></div>

                    <h2 class="mb-2 text-3xl font-bold text-white lg:text-4xl">
                        sono <span class="text-catpuccin-sky">Boma</span
                        >narakasura!
                    </h2>
                    <p class="mb-6 text-catpuccin-sapphire">
                        Software engineer
                    </p>

                    <p class="mb-6 leading-relaxed text-catpuccin-sapphire">
                        I do create expressive software in browser and server.
                        Do I care about performances? Yes, passionately!
                    </p>

                    <div>
                        <DoubleStackButton client:load icon="ðŸ“‘" url="about">
                            Man page
                        </DoubleStackButton>
                    </div>
                </div>

                <div
                    class="mt-10 flex w-full flex-col lg:flex-row lg:items-end lg:justify-between"
                >
                    <div>
                        <p class="mb-4">More about me</p>

                        <div
                            class="flex flex-col gap-4 lg:w-auto lg:flex-row lg:gap-[30px]"
                        >
                            <DoubleStackButton
                                client:load
                                icon="ðŸŽ¨"
                                url="/projects"
                            >
                                projects
                            </DoubleStackButton>

                            <DoubleStackButton
                                client:load
                                icon="ðŸ–ï¸"
                                url="/blogs"
                            >
                                blogs
                            </DoubleStackButton>

                            <!-- <DoubleStackButton client:load icon="ðŸŒˆ"> -->
                            <!--     sandbox -->
                            <!-- </DoubleStackButton> -->
                        </div>
                    </div>

                    <img
                        src="/earth.png"
                        alt="Earth"
                        class="hidden h-20 w-20 cursor-none lg:block"
                    />
                </div>
            </div>
        </TerminalWindow>

        <!-- Hello World Terminal Window -->
        <div class="hidden lg:block">
            <TerminalWindow title="#!/bin/bash">
                <PixelatedHello client:load />
            </TerminalWindow>
        </div>
    </div>
</GeneralLayout>
