---

---

<div
    class="prose max-w-full font-spacemono text-white prose-headings:py-2 prose-headings:pl-2 prose-headings:font-pixel prose-headings:text-white prose-h1:bg-catpuccin-overlay-0 prose-h1:text-3xl prose-h2:bg-catpuccin-blue prose-h2:text-2xl prose-h3:bg-catpuccin-teal prose-h3:text-xl prose-h3:text-catpuccin-base prose-p:break-words prose-p:indent-8 prose-p:text-base prose-a:bg-catpuccin-blue prose-a:text-catpuccin-base prose-a:no-underline prose-a:hover:text-white prose-blockquote:text-white prose-strong:font-bold prose-strong:text-white prose-img:mx-auto lg:pr-4"
>
    <slot />
</div>
