---
interface Props {
    keyword?: string;
    text: string;
}

const { keyword, text } = Astro.props;
---

<div class="cli-wrapper">
    <span class="cli-root">root &gt;</span>
    {keyword && <span class="cli-keyword">{keyword}</span>}
    <span class="cli-args">{text}</span>
</div>
