---
import CommandLine from "./CommandLine.astro";

const currentYear = new Date().getFullYear();
---

<footer class="mt-12 flex items-end justify-between">
    <div>
        <CommandLine keyword="echo" text="'thank you for watching'" />
        <CommandLine
            keyword="echo"
            text="'just reach me out to create interesting things'"
        />
        <CommandLine keyword="echo" text="'made with love & passions.'" />
    </div>

    <div class="mt-4 flex justify-end">
        <div class="bg-catpuccin-red px-6 py-2 text-white">
            bomsiwor@gmail.com | {currentYear}
        </div>
    </div>
</footer>
