---
import CommandLine from "./CommandLine.astro";

const currentYear = new Date().getFullYear();
---

<style></style>

<footer>
    <div>
        <CommandLine keyword="echo" text="'thank you for watching'" />
        <CommandLine
            keyword="echo"
            text="'just reach me out to create interesting things'"
        />
        <CommandLine keyword="echo" text="'made with love & passions.'" />
    </div>

    <div class="mt-4">
        <div class="footer-badge">
            bomsiwor@gmail.com | {currentYear}
        </div>
    </div>
</footer>
