---
interface Props {
    path?: string | string[];
}

// Compute paths
const { path = "" } = Astro.props;
const finalPath = Array.isArray(path)
    ? path.join("/")
    : path !== ""
      ? `/${path.startsWith("/") ? path.substring(1) : path}`
      : "";
---

<header class="mb-8">
    <h1 class="text-4xl font-bold text-white">
        /dev/bomsiwor<span class="text-catpuccin-rosewater">{finalPath}</span>
    </h1>
</header>
