---
import { type ISocialMedia } from "@data/socials.ts";

interface Props extends ISocialMedia {
    icon: any;
}

const { url, platform, icon: Icon } = Astro.props;
---

<a
    class="flex items-center gap-2 border border-catpuccin-sapphire px-4 py-2 text-xs transition-colors duration-150 hover:border-catpuccin-yellow lg:text-base"
    href={url}
    target="_blank"
>
    <span>{Icon && <Icon width="24px" class="fill-catpuccin-text" />}</span>
    <p>{platform}</p>
</a>
