---
import "../styles/global.css";

const { pageTitle, title, subtitle, code } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Bomsiwor - {pageTitle}</title>
    </head>
    <body
        class="flex h-dvh items-center justify-center bg-gradient-to-t from-lighter-300 to-lighter-50 font-bricol"
    >
        <div
            class="container flex h-[300px] w-[50vw] flex-col items-center justify-center"
        >
            <span>Logo here</span>
            <h2>{title}</h2>
            <h1 class="text-darker-950">{code}</h1>
            <p class="text-center">{subtitle}</p>

            <button
                class="click-shrink mt-4 w-[75%] rounded-md bg-darker-950 py-2 text-sm text-darker-50"
                onclick="goBack()">Track Back</button
            >
        </div>

        <div
            class="fixed -left-48 bottom-0 -z-10 aspect-square w-[600px] animate-light-rise rounded-full bg-lighter-600/50 opacity-30 blur-3xl"
        >
        </div>

        <script is:inline>
            function goBack() {
                if (document.referrer) {
                    window.history.back();
                } else {
                    window.location.href = "/";
                }
            }
        </script>
    </body>
</html>
