---
import "../styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
    title: string;
    path: string | string[];
}

const { title: rawTitle, path } = Astro.props;

// Compute title
const title = "Bomanarakasura Portfolio | " + rawTitle;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>

        <!-- Icon -->
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="manifest" href="/site.webmanifest" />

        <!-- Standard Meta  -->
        <meta
            name="description"
            content="Bomanarakasura or Bomsiwor's projects, skills, and experience showcase as a experienced Software Engineer."
        />

        <!-- Facebook, Whatsapp, and Twitter Meta -->
        <meta property="og:title" content="Bomanarakasura Portfolio" />
        <meta
            property="og:description"
            content="Bomanarakasura or Bomsiwor's projects, skills, and experience showcase as a experienced Software Engineer."
        />
        <meta property="og:image" content="/og-big-summary.png" />
        <meta property="og:url" content={Astro.url.href} />
        <meta property="og:type" content="website" />

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Bomanarakasura Portfolio" />
        <meta
            name="twitter:description"
            content="The showcase of projects, skills, and experience from Bomanarakasura"
        />
        <meta name="twitter:image" content="/twitter-summary.png" />
        <meta name="twitter:image:alt" content="Bomanarakasura Portfolio Web" />
    </head>
    <body class="min-h-screen bg-[#1a1b26] p-8 font-pixel text-white">
        <div class="mx-auto max-w-7xl">
            <Header path={path} />

            <slot />

            <Footer />
        </div>
    </body>
</html>
